# Ignore large data files
*.h5
*.pkl
*.npz
*.npy
*.csv
*.xlsx
*.mat
*.rsk

# Ignore GIS files
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.shp.xml
*.geojson

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.tif
*.tiff
*.bmp
*.ico
*.svg

# Ignore system files
.DS_Store

# Ignore logs and temporary files
*.log
*.tmp

# Ignore directory "GIS"
GIS/

# Ignore documents for now
*.doc
*.docx
*.pdf